@font-face {
    font-family: 'Intro';
    src: url('/fonts/Intro.woff2') format('woff2'),
    url('/fonts/Intro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ---------------------- */
@font-face {
    font-family: 'Akrobat';
    src: url('/fonts/Akrobat-ExtraLight.woff2') format('woff2'),
        url('/fonts/Akrobat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akrobat';
    src: url('/fonts/Akrobat-Regular.woff2') format('woff2'),
        url('/fonts/Akrobat-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akrobat';
    src: url('/fonts/Akrobat-Black.woff2') format('woff2'),
        url('/fonts/Akrobat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/* -------------------- */

/* ------------------- */
@font-face {
    font-family: 'Arian AMU Mono';
    src: url('/fonts/ArianAMUMono.woff2') format('woff2'),
        url('/fonts/ArianAMUMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arian AMU Mono';
    src: url('/fonts/ArianAMUMono-Italic.woff2') format('woff2'),
        url('/fonts/ArianAMUMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
/* ----------------------- */
@font-face {
    font-family: 'Arian AMU Mono';
    src: url('/fonts/ArianAMUMono-Bold.woff2') format('woff2'),
        url('/fonts/ArianAMUMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arian AMU Mono';
    src: url('/fonts/ArianAMUMono-BoldItalic.woff2') format('woff2'),
        url('/fonts/ArianAMUMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
/* ------------------------ */