.poligon-3d {
    background-color: #dfdada;
    padding: 10px;
}
.poligon-3d__blok {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #44e78e;
    border-radius: 40px;
    perspective: 300px;
}
.poligon-3d__item {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #438f65;
    border-radius: 20px;
    color: rgb(200, 233, 82);
    font-size: 25px;
    transition: all 0.8s;
}
.poligon-3d__item_1:hover{
    color: #dfdada;
    transform: translate3d(100px,100px,90px);
}
.poligon-3d__item_2:hover{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transform: scale3d(1.2,1.2,1.5);
}
.poligon-3d__item_3:hover{
    width: 100%;
    height: 100%;
    transform: rotate3d(1,1,1,20deg);
}
