@use "sass:math";
@import "_mixins";
@import "_reset";
body {
   font-family: "Open Sans";
   font-size: rem(20);
}
// -----------------------------
.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.header {
   z-index: 50;
   min-height: rem(74);
   display: flex;
   align-items: start;
   justify-content: space-between;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   &__logo {
      padding: rem(17) rem(10) rem(17) rem(19);
   }
   &__social {
      display: flex;
      gap: rem(25);
      padding: rem(22) rem(23) rem(21);
      background: #6257fe;
   }
}
.social-header {
   &__item {
   }
}
.content {
   &__top-block {
   }
}
.block-top {
   background: #6257fe;
   &__conteiner {
      display: flex;
      @media (max-width: em(767.98)) {
         flex-direction: column;
      }
   }
   &__body {
      flex: 0 0 41%;
      align-self: center;
      padding-left: rem(85);
      padding-right: rem(20);
      @media (max-width: em(1200)) {
         padding-left: rem(15);
      }
      @media (max-width: em(767.98)) {
         align-self: stretch;
         padding-top: rem(100);
         padding-bottom: rem(50);
      }
   }
   &__block-title {
      margin-bottom: rem(30);
      :not(:last-child) {
         margin-bottom: rem(7);
      }
   }
   &__text {
      margin-bottom: rem(67);
      p {
         max-width: rem(376);
         @include text;
      }
   }
   &__button {
      @include button;
      transition: background 0.3s ease-out;
      @media (max-width: em(767.98)) {
         display: flex;
         justify-content: center;
      }
      @media (any-hover: hover) {
         &:hover {
            background: #473ad1;
         }
      }
   }
   &__image {
      position: relative;
      flex: 1 1 auto;

      @media (min-width: em(768)) {
         min-height: 100vh;
      }
      @media (max-width: em(767.98)) {
         padding-bottom: 70%;
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }
}
.title-block {
   &__under-title {
      @include under-title;
   }
   &__title {
      @include title;
      @media (max-width: em(1023.98)) {
         font-size: rem(50);
      }
      @media (max-width: em(920)) {
         font-size: rem(45);
      }
      @media (max-width: em(767.98)) {
         font-size: rem(56);
      }
   }
}
// =====================
.content {
   &__about {
      position: relative;
      @media (max-width: em(990)) {
         background: #100c46;
      }
      &::before {
         position: absolute;
         content: "";
         top: 0;
         left: 0;
         height: 100%;
         width: 50%;
         background: #100c46;
         @media (max-width: em(990)) {
            display: none;
         }
      }
   }
}
.about {
   &__conteiner {
      display: flex;
      padding: rem(150) rem(70) rem(150) rem(85);
      @media (max-width: em(1200)) {
         padding: rem(150) rem(15);
      }
      @media (max-width: em(1024)) {
         padding: rem(0) rem(15);
      }
      @media (max-width: em(990)) {
         flex-direction: column;
         align-items: stretch;
      }
   }
   &__body {
      z-index: 2;
      flex: 0 1 50%;
      align-self: center;
      padding: rem(0) rem(160) rem(0) rem(0);
      @media (max-width: em(1024)) {
         padding: rem(70) rem(115) rem(70) rem(0);
      }
      @media (max-width: em(990)) {
         padding: rem(30) rem(0) rem(30) rem(0);
      }
      :not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__wr-img {
      position: relative;
      flex: 1 1 auto;
      padding-bottom: 48%;
      margin-left: rem(-100);
      @media (max-width: em(990)) {
         margin-right: rem(-15);
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }
}
.body-about {
   &__block-title {
   }
   &__text {
      :not(:last-child) {
         margin-bottom: rem(45);
      }
      @include text(#ffffffcc);
   }
}

// .body-about {
//    &__block-title {
//    }
// }
.title-block {
   :not(:last-child) {
      margin-bottom: rem(7);
   }
   &__under-title {
      &_blu {
         @include under-title(#6257fe);
      }
   }
   &__title {
      &_blu {
         @include title(#6257fe);
         @media (max-width: em(1321)) {
            font-size: rem(45);
         }
      }
   }
}
// =============
.content {
   &__services {
   }
}
.services {
   &__conteiner {
      padding: rem(0) rem(70) rem(0) rem(85);
      display: flex;
      align-items: center;
      @media (max-width: em(1200)) {
         padding: rem(0) rem(15) rem(0) rem(15);
      }
      @media (max-width: em(900)) {
         flex-direction: column;
      }
   }
   &__body {
      padding: rem(15) rem(40) rem(15) rem(0);
      flex: 0 1 54%;
      @media (max-width: em(1023.98)) {
         padding: rem(10) rem(15);
      }
      @media (max-width: em(900)) {
         padding: rem(10) rem(0);
      }
   }
   &__block-title {
      margin-bottom: rem(70);
      @media (max-width: em(1024)) {
         margin-bottom: rem(35);
      }
   }
   &__articles {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(64);
      @media (max-width: em(1200)) {
         gap: rem(24);
         grid-template-columns: repeat(1, 1fr);
      }
   }
   &__item {
   }
   &__media {
      @media (max-width: em(1200)) {
         align-self: stretch;
      }
   }
}
.title-block {
   &__under-title {
      &_blu {
      }
   }
   &__title {
      &_black {
         @include title(black);
         @media (max-width: em(370)) {
            font-size: rem(45);
         }
      }
   }
}
.item-services {
   &__icon {
      margin-bottom: rem(14);
   }
   &__title {
      margin-bottom: rem(22);
      color: #100c46;
      font-size: rem(22);
      font-weight: 600;
      line-height: 1.45; /* 32/22 */
      display: flex;
      gap: rem(12);
      @media (max-width: em(1300)) {
         flex-direction: row-reverse;
      }
      &::before {
         content: "";
         top: 0;
         left: 0;
         flex: 1 1 auto;
         height: rem(1);
         background: #100c46;
         align-self: center;
      }
   }
   p {
      @include text(#100c46cc);
   }
}
.media {
   padding: rem(165) rem(0);
   position: relative;
   @media (max-width: em(900)) {
      padding: rem(30) rem(0);
   }

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: rem(65);
      width: 100vw;
      background: #6257fe;
      height: 100%;
      @media (max-width: em(1023.98)) {
         // left: rem(0);
         height: 100%;
      }
      @media (max-width: em(900)) {
         left: rem(-15);
         height: 100%;
      }
   }

   &__man {
      max-width: rem(427);
      position: relative;
      z-index: 2;
      img {
         width: 100%;
      }
   }
   &__phone {
      left: 290px;
      bottom: -50px;
      width: 342px;
      z-index: 2;
      position: absolute;
      @media (max-width: em(1300)) {
         width: 60%;
         left: rem(-30);
         bottom: rem(-30);
      }
      @media (max-width: em(1023.98)) {
         width: 50%;
         left: rem(-30);
         bottom: rem(-20);
      }

      img {
         width: 100%;
      }
   }
}
// ==============
.content {
   &__portfolio {
   }
}
.portfolio {
   &__conteiner {
      padding: rem(146) rem(70) rem(30) rem(70);
      @media (max-width: em(1200)) {
         padding: rem(30) rem(15);
      }
   }
   &__block-title {
      text-align: center;
      margin-bottom: rem(77);
      @media (max-width: em(1200)) {
         margin-bottom: rem(20);
      }
   }
   &__galery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
      gap: rem(23);
   }
}
.title-block {
   &__under-title {
      &_blu {
      }
   }
   &__title {
      &_black {
      }
   }
}
.galery-portfolio {
   &__item {
      display: block;
      position: relative;
      padding-bottom: 135%;
      overflow: hidden;

      &:hover {
         img {
            transform: scale(1.1);
         }
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
         transition: transform 0.3s ease-out;
      }
   }
}
// =============
.content {
   &__team {
   }
}
.team {
   &__conteiner {
      padding: rem(147) rem(64);
      @media (max-width: em(1439.98)) {
         padding: rem(50) rem(64);
      }
      @media (max-width: em(1200)) {
         padding: rem(50) rem(15);
      }
      @media (max-width: em(768)) {
         padding: rem(30) rem(15);
      }
   }
   &__block-title {
      text-align: center;
      margin-bottom: rem(62);
      @media (max-width: em(1439.98)) {
         margin-bottom: rem(30);
      }
      @media (max-width: em(768)) {
         margin-bottom: rem(20);
      }
   }
   &__galery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
      gap: rem(23);
      @media (max-width: em(425)) {
         grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
         row-gap: rem(15);
      }
   }
}
.item-team {
   position: relative;
   padding-bottom: 135%;
   > img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
   }
   &__info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(11) rem(13) rem(12) rem(18);
      background: #6257fecc;
      z-index: 2;
   }
   &__text {
      :first-child {
         color: #fff;
         font-weight: 600;
         font-size: rem(16);
         line-height: 2; /* 32/16 */
      }
      :last-child {
         color: #fff;
         font-family: Open Sans;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 2; /* 32/14 */
      }
   }
   &__social {
      display: flex;
      gap: rem(13);
   }
}
// ==============
.content {
   &__contacts {
   }
}
.contacts {
   &__conteiner {
      display: flex;
      padding: rem(0) rem(85);
      align-items: center;
      @media (max-width: em(1200)) {
         padding: rem(0) rem(15);
      }
      @media (max-width: em(900)) {
         flex-direction: column;
         align-items: stretch;
         gap: rem(15);
      }
   }
   &__body {
      flex: 0 0 42%;
      padding-right: rem(90);
      @media (max-width: em(1200)) {
         padding-right: rem(25);
      }
      @media (max-width: em(900)) {
         padding-right: rem(0);
      }
   }
   &__information {
      flex: 1 1 auto;
      position: relative;
      &::before {
         position: absolute;
         content: "";
         top: 0;
         left: rem(228);
         width: 100vw;
         height: 100%;
         background: #6257fe;
         @media (max-width: em(768)) {
            display: none;
         }
      }
      @media (max-width: em(768)) {
         background: #6257fe;
      }
   }
}
.body-contacts {
   &__block-title {
      margin-bottom: rem(54);
   }
   &__form {
      display: grid;
      gap: rem(18);
   }
}

.form {
   &__line {
      background: #f4f3ff;
      padding: rem(5) rem(20);
   }
   &__lable {
      color: rgba(16, 12, 70, 0.8);
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.6; /* 160% */
      display: block;
   }
   &__input {
      background: transparent;
      width: 100%;
   }
   textarea {
      resize: vertical;
   }
   &__button {
   }
}
.button {
   @include button(#6257fe, #ffffff);
   transition: background 0.3s ease-out;
   &:hover {
      background: #3e379c;
   }
   @media (max-width: em(768)) {
      width: 100%;
   }
}
.information-contacts {
   padding: rem(142) rem(0);
   display: flex;
   align-items: center;
   gap: rem(35);
   @media (max-width: em(1200)) {
      gap: rem(25);
      padding: rem(30) rem(0);
   }
   @media (max-width: em(650)) {
      padding: rem(15);
      flex-direction: column-reverse;
   }

   &__map {
      flex: 0 0 67%;
      height: rem(617);
      position: relative;
      iframe {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
      @media (max-width: em(650)) {
         flex: 1 1 auto;
         width: 100%;
      }
   }
   &__date {
      z-index: 2;
   }
}
.date-info {
   display: flex;
   flex-direction: column;
   gap: rem(85);
   @media (max-width: em(768)) {
      gap: rem(30);
   }
   @media (max-width: em(650)) {
      align-self: start;
   }
   &__block {
      @media (max-width: em(650)) {
         display: flex;
         flex-direction: column;
      }
   }
   &__title {
      &_phone {
         @extend %info-title;
         background: url("../img/contacts/01.svg") left no-repeat;
         padding-left: rem(45);
         margin-bottom: rem(12);
      }
      &_email {
         @extend %info-title;
         background: url("../img/contacts/02.svg") left no-repeat;
         padding-left: rem(45);
         margin-bottom: rem(8);
      }
      &_address {
         @extend %info-title;
         background: url("../img/contacts/03.svg") left no-repeat;
         padding-left: rem(45);
         margin-bottom: rem(8);
      }
   }
   &__item {
      display: inline-block;
      @include under-title;
      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }
   &__text {
      @include under-title;
   }
}

// ===========
.footer {
   padding: rem(112) rem(0) rem(82) rem(0);
   @media (max-width:em(1439.98)){
      padding: rem(30) rem(0);
   }
   &__conteiner {
      position: relative;
      padding: rem(0) rem(85);
      min-height: rem(70);
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width:em(1200)){
         padding: rem(0) rem(15);
      }
      @media (max-width:em(425)){
         justify-content: start;
      }
   }
   &__text {
      justify-content: center;
      @include text(#100C46);
   }
   &__button {
      position: absolute;
      height: rem(70);
      width: rem(70);
      top: 0;
      right: rem(15);
      background: #6257FE url('../img/footer/chevron-up.svg') center no-repeat;
   }
}

