@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1F2937;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  border-radius: 6px;
  border: 1px solid #4338CA;
  font-weight: 500;
  color: #4338CA;
  line-height: 1.5555555556;
  padding: 0.6875rem 2rem;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.button._fw {
  width: 100%;
}

.button_blu {
  border-radius: 6px;
  border: 1px solid #4338CA;
  font-weight: 500;
  color: white;
  line-height: 1.5555555556;
  padding: 0.6875rem 2rem;
  background: #4338CA;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.button_blu._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-h2 {
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
}

.header._header-scroll {
  height: 5rem;
  background: rgba(232, 231, 235, 0.9);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._header-scroll .header__container {
  min-height: 5rem;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__button {
  position: relative;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 0.625rem;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__link {
  font-weight: 500;
  line-height: 1.5555555556;
  color: #6B7280;
}

.icon-menu {
  display: none;
}

.footer {
  text-align: center;
  background: #fef2f2;
}

.footer__title {
  margin-bottom: 1.25rem;
}

.footer__text {
  max-width: 41.5625rem;
  margin: 0px auto;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5555555556;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  max-width: 28.75rem;
  margin: 0px auto;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
}

.main__content > :not(:last-child) {
  margin-bottom: 1.25rem;
}

.main__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
}

.main__name {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  color: #4338CA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.main__name::before {
  content: "";
  background-color: #4338CA;
  height: 0.0625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 102px;
          flex: 0 0 102px;
}

.main__title {
  font-weight: 700;
}

.main__text {
  font-weight: 400;
  color: #6B7280;
  line-height: 1.5555555556;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.main__footer {
  font-size: 0.75rem;
  font-weight: 400;
  color: #6b7280;
  padding-top: 1.25rem;
  border-top: 1px solid #e5e7eb;
}

.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.5084745763%;
          flex: 0 0 40.5084745763%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__image img {
  max-width: 100%;
}

.works__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__title {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 88.0508474576%;
          flex: 0 1 88.0508474576%;
}

.works__title span {
  color: #3730a3;
}

.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.2881355932%;
          flex: 0 0 37.2881355932%;
}

.works__image img {
  max-width: 100%;
}

.works__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.artikle-works {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  justify-items: start;
}

.artikle-works__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5555555556;
}

.artikle-works__text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333;
}

.artikle-works__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.artikle-works__link:hover {
  color: #4338CA;
}

.no-webp .artikle-works__link::after{
  background: url("../img/works/arrow-right 1.png") 0 0 no-repeat; }

.artikle-works__link::after {
  content: "";
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
}

.trusted {
  background-color: #fef2f2;
}

.trusted__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

.trusted__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.9375rem;
}

.galery__title {
  max-width: 65rem;
  margin: 0px auto;
}

.galery__body {
  display: -ms-grid;
  display: grid;
}

.item-gallery {
  position: relative;
}

.item-gallery__img-ibg {
  padding-bottom: 74.8387096774%;
  height: 100%;
}

.item-gallery__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.window-item {
  background: white;
  padding: 1.4375rem 3.75rem 1.4375rem 1.6875rem;
  position: relative;
}

.window-item::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1.6875rem;
  position: absolute;
  background: url("../img/galery/arrow-right.svg") 0 0/100% no-repeat;
}

.window-item__title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5555555556;
}

.window-item__text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #9ca3af;
}

.services__articles {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.article-service {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.article-service__imgwr {
  width: 140px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  background: #eef2ff;
}

.article-service__title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.2;
}

.article-service__text {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5555555556;
}

.careers__table {
  overflow: auto;
}

.table__item {
  width: 100%;
  min-width: 43.75rem;
  border-collapse: collapse;
}

.table__row:not(:last-child) .table__title,
.table__row:not(:last-child) .table__cell {
  padding-right: 0.9375rem;
}

.table__row th {
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #6b7280;
}

.table__cell span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #1F2937;
}

@media (min-width: 47.99875em) {
  .galery__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75.625em) {
  .title-h2 {
    font-size: 3rem;
  }

  .header__container {
    min-height: 14.75rem;
  }

  .menu__item {
    margin-right: 5rem;
  }

  .footer {
    padding-top: 6.875rem;
  }

  .footer {
    padding-bottom: 6.875rem;
  }

  .footer__text {
    margin-bottom: 6.25rem;
  }

  .footer__social {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .main {
    padding-top: 21rem;
  }

  .main {
    padding-buttom: 6.25rem;
  }

  .main__content {
    padding-right: 6.625rem;
  }

  .main__body {
    row-gap: 2.5rem;
  }

  .main__title {
    font-size: 4.5rem;
  }

  .works__title {
    padding-top: 6.1875rem;
  }

  .works__body {
    gap: 4.25rem;
  }

  .artikle-works {
    gap: 1.25rem;
  }

  .trusted {
    padding-top: 6.25rem;
  }

  .trusted {
    padding-bottom: 6.25rem;
  }

  .trusted__text {
    margin-bottom: 1.25rem;
  }

  .galery {
    padding-top: 9.375rem;
  }

  .galery {
    padding-bottom: 4.6875rem;
  }

  .galery__title {
    margin-bottom: 9.375rem;
  }

  .galery__body {
    gap: 1.875rem;
  }

  .services {
    padding-top: 4.6875rem;
  }

  .services {
    padding-bottom: 4.6875rem;
  }

  .services__articles {
    gap: 5.1875rem;
  }

  .article-service__imgwr {
    margin-bottom: 2.5rem;
  }

  .article-service__title {
    margin-bottom: 1.25rem;
  }

  .careers {
    padding-top: 4.6875rem;
  }

  .careers {
    padding-bottom: 9.375rem;
  }

  .careers :not(:last-child) {
    margin-bottom: 9.375rem;
  }

  .table__row:not(:last-child) .table__title,
  .table__row:not(:last-child) .table__cell {
    padding-bottom: 5rem;
  }
}

@media (min-width: 425px) {
  .item-gallery_home {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .item-gallery_image {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .item-gallery_image .item-gallery__img-ibg {
    padding-bottom: 33.6134453782%;
  }
}

@media (min-width: 770px) {
  .works__body {
    padding: 9.375rem 0rem 9.375rem 3.125rem;
  }
}

@media (max-width: 768px) {
  .works__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
  }
}

@media (max-width: 20em) {
  .title-h2 {
    font-size: 1.5rem;
  }

  .header__container {
    min-height: 5rem;
  }

  .menu__item {
    margin-right: 0.625rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer__text {
    margin-bottom: 1.25rem;
  }

  .footer__social {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .main {
    padding-top: 6.25rem;
  }

  .main {
    padding-buttom: 1.25rem;
  }

  .main__content {
    padding-right: 0.9375rem;
  }

  .main__body {
    row-gap: 1.25rem;
  }

  .main__title {
    font-size: 2.125rem;
  }

  .works__title {
    padding-top: 1.25rem;
  }

  .works__body {
    gap: 0.9375rem;
  }

  .artikle-works {
    gap: 0.625rem;
  }

  .trusted {
    padding-top: 1.25rem;
  }

  .trusted {
    padding-bottom: 1.25rem;
  }

  .trusted__text {
    margin-bottom: 0.625rem;
  }

  .galery {
    padding-top: 1.25rem;
  }

  .galery {
    padding-bottom: 1.25rem;
  }

  .galery__title {
    margin-bottom: 0.9375rem;
  }

  .galery__body {
    gap: 0.625rem;
  }

  .services {
    padding-top: 1.25rem;
  }

  .services {
    padding-bottom: 1.25rem;
  }

  .services__articles {
    gap: 1.875rem;
  }

  .article-service__imgwr {
    margin-bottom: 1.25rem;
  }

  .article-service__title {
    margin-bottom: 0.625rem;
  }

  .careers {
    padding-top: 1.25rem;
  }

  .careers {
    padding-bottom: 1.25rem;
  }

  .careers :not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .table__row:not(:last-child) .table__title,
  .table__row:not(:last-child) .table__cell {
    padding-bottom: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .main__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .works__container {
    display: -ms-grid;
    display: grid;
    gap: 1.25rem;
  }

  .trusted__body {
    justify-items: center;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgb(201, 162, 230);
    padding: 0 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
    width: 100%;
    background-color: #b69be2;
  }

  ._header-scroll .menu__body::before {
    min-height: 5rem;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    margin-left: 0.9375rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .main__content {
    padding: 0rem 0rem 0rem 0rem;
  }

  .main__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .works__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 6.25rem;
  }

  .menu__body::before {
    min-height: 5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem )) {
    .title-h2 {
      font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem )) {
    .title-h2 {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .header__container {
      min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem );
    }
}

@supports not (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .header__container {
      min-height: calc(5rem + 9.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem )) {
    .menu__item {
      margin-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem )) {
    .menu__item {
      margin-right: calc(0.625rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem )) {
    .footer {
      padding-top: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem )) {
    .footer {
      padding-top: calc(1.25rem + 5.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 5.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
    .footer__text {
      margin-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
    .footer__text {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem )) or (column-gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem ))) {
    .footer__social {
      -webkit-column-gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem );
         -moz-column-gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem );
              column-gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem )) or (column-gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem ))) {
    .footer__social {
      -webkit-column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 55.625);
              column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 6.25rem , 0.9466292135rem  +  26.5168539326vw , 21rem )) {
    .main {
      padding-top: clamp( 6.25rem , 0.9466292135rem  +  26.5168539326vw , 21rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 0.9466292135rem  +  26.5168539326vw , 21rem )) {
    .main {
      padding-top: calc(6.25rem + 14.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-buttom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
    .main {
      padding-buttom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem );
    }
}

@supports not (padding-buttom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
    .main {
      padding-buttom: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.9375rem , -1.1074438202rem  +  10.2247191011vw , 6.625rem )) {
    .main__content {
      padding-right: clamp( 0.9375rem , -1.1074438202rem  +  10.2247191011vw , 6.625rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.1074438202rem  +  10.2247191011vw , 6.625rem )) {
    .main__content {
      padding-right: calc(0.9375rem + 5.6875 * (100vw - 20rem) / 55.625);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .main__body {
      row-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .main__body {
      row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem )) {
    .main__title {
      font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem )) {
    .main__title {
      font-size: calc(2.125rem + 2.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.5252808989rem  +  8.8764044944vw , 6.1875rem )) {
    .works__title {
      padding-top: clamp( 1.25rem , -0.5252808989rem  +  8.8764044944vw , 6.1875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.5252808989rem  +  8.8764044944vw , 6.1875rem )) {
    .works__title {
      padding-top: calc(1.25rem + 4.9375 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 0.9375rem , -0.253511236rem  +  5.9550561798vw , 4.25rem )) {
    .works__body {
      gap: clamp( 0.9375rem , -0.253511236rem  +  5.9550561798vw , 4.25rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -0.253511236rem  +  5.9550561798vw , 4.25rem )) {
    .works__body {
      gap: calc(0.9375rem + 3.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .artikle-works {
      gap: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .artikle-works {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
    .trusted {
      padding-top: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
    .trusted {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
    .trusted {
      padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
    .trusted {
      padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .trusted__text {
      margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .trusted__text {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
    .galery {
      padding-top: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
    .galery {
      padding-top: calc(1.25rem + 8.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .galery {
      padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .galery {
      padding-bottom: calc(1.25rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -2.0962078652rem  +  15.1685393258vw , 9.375rem )) {
    .galery__title {
      margin-bottom: clamp( 0.9375rem , -2.0962078652rem  +  15.1685393258vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -2.0962078652rem  +  15.1685393258vw , 9.375rem )) {
    .galery__title {
      margin-bottom: calc(0.9375rem + 8.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .galery__body {
      gap: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .galery__body {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .services {
      padding-top: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .services {
      padding-top: calc(1.25rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .services {
      padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .services {
      padding-bottom: calc(1.25rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem )) {
    .services__articles {
      gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem )) {
    .services__articles {
      gap: calc(1.875rem + 3.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .article-service__imgwr {
      margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .article-service__imgwr {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .article-service__title {
      margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .article-service__title {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .careers {
      padding-top: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .careers {
      padding-top: calc(1.25rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
    .careers {
      padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
    .careers {
      padding-bottom: calc(1.25rem + 8.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
    .careers :not(:last-child) {
      margin-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
    .careers :not(:last-child) {
      margin-bottom: calc(1.25rem + 8.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.5231741573rem  +  7.3033707865vw , 5rem )) {
    .table__row:not(:last-child) .table__title,
    .table__row:not(:last-child) .table__cell {
      padding-bottom: clamp( 0.9375rem , -0.5231741573rem  +  7.3033707865vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.5231741573rem  +  7.3033707865vw , 5rem )) {
    .table__row:not(:last-child) .table__title,
    .table__row:not(:last-child) .table__cell {
      padding-bottom: calc(0.9375rem + 4.0625 * (100vw - 20rem) / 55.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 75.625em) {
  .menu__body {
    padding-top: 16rem;
  }

  .menu__body::before {
    min-height: 14.75rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (padding-top: clamp( 6.25rem , 2.7443820225rem  +  17.5280898876vw , 16rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 2.7443820225rem  +  17.5280898876vw , 16rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 2.7443820225rem  +  17.5280898876vw , 16rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 9.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .menu__body::before {
      min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem );
    }
}

@supports not (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .menu__body::before {
      min-height: calc(5rem + 9.75 * (100vw - 20rem) / 55.625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: #4338CA;
    color: white;
  }

  .button_blu:hover {
    background: white;
    color: #3730A3;
  }

  .menu__link:hover {
    color: black;
  }

  .item-gallery:hover .item-gallery__content {
    opacity: 1;
  }
}

.webp .artikle-works__link::after{ background: url("../img/works/arrow-right 1.png") 0 0 no-repeat; }